/* styles.css */

:root {
    --background-light: #f5f5f5;
    --background-dark: #2c2c2c;
    --text-light: #333333;
    --text-dark: #ffffff;
    --container-light: #ffffff;
    --container-dark: #424242;
    --primary-color: #007aff;
    --button-background: #007aff;
    --button-hover: #005bb5;
    --modal-background: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--background-light);
    color: var(--text-light);
    margin: 0;
    display: block;
    height: 100vh;
    overflow: hidden; /* Lock scrolling */
    transition: background 0.3s, color 0.3s;
    animation: fadeIn 1s ease-in-out;
    margin-top: 60px;
}

#container {
    text-align: center;
    background: var(--container-light);
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    animation: fadeIn 1s ease-in-out;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
}

h1 {
    font-size: 2em;
    margin: 0.1em 0;
    animation: slideIn 1s ease-in-out;
}

h3 {
    font-size: 1.2em;
    margin: 0.1em 0 0.5em 0;
    color: #888888;
    animation: slideIn 1s ease-in-out;
}

#timer {
    font-size: 5em;
    margin: 0;
    font-weight: bold;
    animation: pulse 1s infinite;
}

#progress {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    animation: fadeIn 1s ease-in-out;
}
.chapter {
    width: 40px;
    height: 40px;
    margin: 0 2px;
    /* Adjust border-radius as needed; remove or set to 0 for no rounded corners */
    border-radius: 4px; /* Example for slightly rounded corners */
    background: #d0d0d0;
    transition: background 0.3s;
}
.chapter.active {
    background: var(--primary-color);
    animation: pulseActive 1s infinite;
}

.chapter.completed {
    background: #4caf50;
}

button {
    background: var(--button-background);
    border: none;
    color: white;
    margin: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    animation: fadeIn 1s ease-in-out;
}

button:hover {
    background: var(--button-hover);
}


svg {
    cursor: pointer;
    margin: 0 0.5em;
    transition: transform 0.3s;
}



.toggle-container {
    align-items: center;
    margin-left: auto;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Lock scrolling */
    background: var(--modal-background);
    animation: fadeIn 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
}
#chapters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 1em 0;
}
.modal-content {
    background: var(--container-light);
    margin: 10% auto;
    padding: 2em;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    animation: slideIn 0.5s ease-in-out;
    overflow: auto;
    max-height: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    color: #f3f3f3;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #007aff, #005bb5) !important;
    animation: fadeIn 1s ease-in-out;

}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Dark theme styles */
body.dark {
    background: var(--background-dark);
    color: var(--text-dark);
}

body.dark #container {
    background: var(--container-dark);
}

body.dark .modal-content {
    background: var(--container-dark);
}

body.dark .chapter {
    background: #757575;
}

body.dark .chapter.active {
    background: var(--primary-color);
}

body.dark .chapter.completed {
    background: #66bb6a;
}

button {
    padding: 0.5em 1em;
    width: 40%;
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    border: 1px solid #d1d1d1;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    color: #333; /* Dark text color for contrast */
    text-align: center;
    cursor: pointer;
    transition: background-image 0.3s, box-shadow 0.3s; /* Smooth transitions for interactions */
}

button:hover {
    background-image: linear-gradient(to bottom, #f0f0f0, #d9d9d9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Slightly more pronounced shadow on hover */
}

button:active {
    background-image: linear-gradient(to bottom, #e5e5e5, #f9f9f9); /* Invert gradient for pressed effect */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Inner shadow to simulate depth when pressed */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    position: fixed; /* Fix header at the top */
    background-color: #fff; /* Light background for the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure header is above other content */
    padding-bottom: 0.4em; /* Add padding to the bottom of the header */
    padding-top: 0.4em; /* Add padding to the bottom of the header */

}
header > * {
    flex-grow: 1;
    text-align: center; /* Example to center content within each child */
}
#controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em; /* Space between controls */
}

.control-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 10px; /* Rounded corners for buttons */
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #f0f0f0; /* Light background on hover for feedback */
}

.control-button:active {
    background-color: #e0e0e0; /* Slightly darker on click */
}

/* styles.css */

.line {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center; /* Ensuring transformations are centered */
}

/* Targeting the state when the menu is toggled */
.toggle .line:nth-child(1) {
    opacity: 0; /* Hiding the first line */
}

.toggle .line:nth-child(2) {
    /* Using relative units (em) for translateY to scale with zoom */
    transform: translateY(0.25em) rotate(45deg);
}

.toggle .line:nth-child(3) {
    /* Using relative units (em) for translateX to scale with zoom */
    transform: translateY(-0.25em) rotate(-45deg);
}

/* Other existing CSS */
        @media (orientation: portrait) {
            #container {
                height: 100vh;
                justify-content: center;
            }

        }
/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes pulseActive {
    0%, 100% {
        transform: scale(1);
        background: var(--primary-color);
    }
    50% {
        transform: scale(1.1);
        background: #005bb5;
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.3em;
    }

    h3 {
        display: none;
    }

    #timer {
        font-size: 4em;
    }

    #progress {
        margin: 0.5em 0;
    }

    .chapter {
        width: 15px;
        height: 15px;
    }

    button {
        font-size: 1.1em;
    }

    footer {
        font-size: 0.8em;
    }


}

#timer {
    font-family: 'Roboto Mono', monospace;
}