:root {
    --primary-color: #007AFF;
    --secondary-color: #005BB5;
    --accent-color: #FFD700;
    --completed-color: #4CAF50;
    --neutral-color: #B0BEC5;
    --background-light: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --background-dark: linear-gradient(135deg, #1f1f1f 0%, #434343 100%);
    --container-light: #fff;
    --container-dark: #333;
    --text-light: #333;
    --text-dark: #ddd;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background-light);
    color: var(--text-light);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    direction: rtl;
}

#container {
    max-width: calc(min(100%, 800px));
    padding: 3rem;
    background: var(--container-light);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: background 0.3s, box-shadow 0.3s;
    margin: 0 auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--primary-color);
}

h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--neutral-color);
}

#timer {
    font-size: 7em;
    font-weight: bold;
    margin: 30px 0;
    color: var(--primary-color);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

button {
    font-size: 18px;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

button.ready {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 122, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 30px rgba(0, 122, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 122, 255, 0);
    }
}

#progress {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
    justify-items: center;
    margin: 20px 0;
    aspect-ratio: 1.0;
}

.item:nth-child(-n+5) {
    grid-column: 1;
}

.item:nth-child(n+6):nth-child(-n+8) {
    grid-column: 2;
}

.item:nth-child(6) {
    padding-top: 20px;
}

.chapter {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--neutral-color);
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.active {
    background-color: var(--accent-color);
}

.completed {
    background-color: var(--completed-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: var(--container-light);
    margin: 15% auto;
    border: 1px solid #888;
    height: 80vh;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: right;
    transition: background 0.3s;
    padding: 20px;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.settings,
.custom-time-input {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input[type="number"],
input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

#customTimesContainer {
    margin: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--container-light);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.footer p {
    margin: 0;
    font-size: small;
    color: #999;
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.toggle-container {
    margin: 20px 0;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.moon-icon,
.sun-icon {
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-light);
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34
px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "☀️";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(26px);
    content: "🌙";
}

input:checked + .slider {
    background-color: #f0c420;
}

.slider:active:before {
    width: 30px;
}

#settingsModal .modal-content .settings input#chapters {
    border: 1px solid #ccc;
    padding: 10px 15px;
    max-width: 120px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#settingsModal .modal-content .settings input#chapters:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 768px) {
    #container {
        padding: 2rem;
    }
    #timer {
        font-size: 5em;
    }
    button {
        font-size: 16px;
        padding: 10px 20px;
    }
    #progress {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    #container {
        padding: 1rem;
        margin-top: 0;
        padding-top: 0;
    }
    #timer {
        font-size: 3em;
    }
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
    #progress {
        grid-template-columns: repeat(1, 1fr);
    }
    .modal-content {
        margin: 10% auto;
        width: 90%;
    }
}
